@font-face {
  font-family: 'njnaruto';
  src: local('njnaruto'), url('fonts/njnaruto.ttf') format('truetype');
}

html, body, #root, .App {
  background-color: #ff943d;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: auto !important;

  font-family: 'njnaruto';
}

.bg-image {
  background-image: url('/src/images/mainmenu.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.links {
  position: relative;
  width: 800px;
  margin:auto
}

.link:hover .link-img{
  opacity: 1;
  pointer-events: auto;
}

.link-img {
  opacity: 0;
  position: absolute;
  left:0;
  pointer-events: none;
}

.custom-container {
  max-width: 500px;
}

.modal-base{
  position: absolute;
  width: 100% !important;
}

@media (max-width: 800px) {
  .links{
    width: 100% !important;
  }
}

@media (max-width: 1200px){
  .bg-image{
    background-color: #ff943d !important;
    background-image: none !important;
  }
}


